/**********************************************TAG SELECTORS*********************************************/

body {
  background-color: #EAF6F6;
  font-family: Georgia serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  height: 200px;
}
h1{
  font-family: "Lucida Handwriting",cursive;
  color: #66BFBF;
}
h2{
  font-family: Garamond,serif;
  color: #66BFBF;
}
